.logo-icon img {
  max-width: 50px;
}

.sub-title {
  color: #d6d6d6;
  font-size: 0.775rem;
  line-height: 1.5;
}

.status-badge {
  text-align: center;
}

.icon-close {
  font-size: 1.5rem;
}

th {
  text-align: center;
}

.btn,
.badge,
table,
.card div {
  border-radius: 5px;
}

.navbar-nav {
  background: #ffff;
}

.navbar-collapse {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 94, 7) 0%,
    rgb(255, 151, 32) 90%
  );
  /* background: linear-gradient(-60deg, #f09819 0%, #ff5858 100%); */
}

#inputNewCatagory {
  display: none;
}

/* floating button start */

.floating-container {
  position: fixed;
  width: 100px;
  height: 100px;
  bottom: 0;
  right: 0;
  margin: 35px 25px;
}
.floating-container:hover {
  height: 300px;
}
.floating-container:hover .floating-button {
  box-shadow: 0 10px 25px rgba(18, 0, 152, 0.6);
  -webkit-transform: translatey(5px);
  transform: translatey(5px);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container:hover .element-container .float-element:nth-child(1) {
  -webkit-animation: come-in 0.4s forwards 0.2s;
  animation: come-in 0.4s forwards 0.2s;
}
.floating-container:hover .element-container .float-element:nth-child(2) {
  -webkit-animation: come-in 0.4s forwards 0.4s;
  animation: come-in 0.4s forwards 0.4s;
}
.floating-container:hover .element-container .float-element:nth-child(3) {
  -webkit-animation: come-in 0.4s forwards 0.6s;
  animation: come-in 0.4s forwards 0.6s;
}
.floating-container .floating-button {
  position: absolute;
  width: 65px;
  height: 65px;
  background: #00135a;
  bottom: 0;
  border-radius: 50%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  line-height: 65px;
  text-align: center;
  font-size: 23px;
  z-index: 100;
  box-shadow: 0 10px 25px -5px rgba(18, 0, 152, 0.6);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.floating-container .float-element {
  position: relative;
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 15px auto;
  color: white;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
.floating-container .float-element .material-icons {
  vertical-align: middle;
  font-size: 16px;
}

/* floating button end */

.card-sub-detail {
  font-size: 0.8rem !important;
}

.card-ticket {
  border-color: #ee4d2d;
  border-radius: 10px;
  box-shadow: 0 1px 10px -4px rgb(255 151 32);
}

.card-ticketDetail {
  cursor: pointer;
}

.ticket-detail-status {
  font-size: 1rem;
  font-weight: bold;
  color: #ee4d2d;
}

.card-counter {
  cursor: pointer;
}

.card-counter:hover {
  box-shadow: 0 10px 10px -10px rgb(255, 94, 0);
  opacity: 0.8;
}

.card-profile div {
  border-radius: 0px !important;
}

.cursor-pointer {
  cursor: pointer;
}

#btnUpdateProfile {
  display: none;
}

table {
  width: 100% !important;
}
